/** {
  box-sizing: border-box;
  border: 1px solid black;
}*/

/* body #app {
  min-height: 100vh !important;
}

body #app.main-bkgd {
  min-height: 100vh !important;
  background-color: #FDEAA6
}

div.main {
  padding-top: 3%;
  padding-bottom: 5%
}

.login {
  background-color: #7BC5DA;
  width: 35%;
  margin: 0px auto;
}

.form-width {
  width: 50%;
  margin: 0px auto;
  padding-top: 3%;
  padding-bottom: 3%

}

.center-block {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.text-center {
  text-align: center
}

.login input {
  background-color: #FDEAA6
}

.gray, .no-link-dec:hover {
  color: #919191;
}

.yellow {
  color: #FDEAA6
}

.auth-text {
  padding: 3%
}

button.yellow {
  background-color: #FDEAA6
}

.no-link-dec, .no-link-dec:hover {
  text-decoration: none;
}

div.home-page {
  min-height: 100vh;
  min-width: 100vw;
  background-url: url('/wood.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1
}

.home-page .received {
  width: 60%;
  height: 35%;
  margin: 17%
}

.home-page .write {
  margin-top: 8%
}

.home-page .stamps {
  margin-left: 17%
}

.message-content {
  min-height: 80vh;
  max-width: 65%
}

div.message select {
  max-width: 100%
}

div.inbox .inbox-buttons, .message .action-buttons {
  text-align: center;
}

div.inbox .inbox-content {
  max-width: 75%;
  margin: 0 auto;
}

form.interest h4 {
  padding-top: 5%
}

form.interest, div.user-info, div.user-info h3 {
  max-width: 45%;
  margin: 0 auto;
}

div.user-info {
  margin: 10px auto;
  padding: 25px
}

.inbox-content div {
  background-color: #7BC5DA;
  width: 75%;
  min-height: 100px;
  margin: 10px auto;
  padding: 25px
}

nav div {
  max-width: 40%;
  margin: 0px auto
}

textarea, textarea:focus {
  background-color: #7BC5DA !important;
  display: block !important
}

.blue {
  background-color: #7BC5DA
}

.user-info img, div.penpals-list img {
  max-width: 50%;
  height: 80%;
  text-align: center;
}

div.user-info h4 {
  margin-top: 5%;
  color: #FDEAA6
}

div.penpals-list, div.penpals-list h4, div.penpals-list img {
  margin: 0 auto;
  text-align: center;
} */
